Get-MessageTracing-Stateful/workflow.json
{
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "actions": {
      "Get_secret": {
        "inputs": {
          "parameters": {
            "secretName": "Message-Trace-Account-UPN"
          },
          "serviceProviderConfiguration": {
            "connectionName": "keyVault",
            "operationId": "getSecret",
            "serviceProviderId": "/serviceProviders/keyVault"
          }
        },
        "runAfter": {},
        "type": "ServiceProvider"
      },
      "Get_secret_2": {
        "inputs": {
          "parameters": {
            "secretName": "Message-Trace-Account-Password"
          },
          "serviceProviderConfiguration": {
            "connectionName": "keyVault",
            "operationId": "getSecret",
            "serviceProviderId": "/serviceProviders/keyVault"
          }
        },
        "runAfter": {
          "Get_secret": [
            "Succeeded"
          ]
        },
        "type": "ServiceProvider"
      },
      "HTTP": {
        "inputs": {
          "authentication": {
            "password": "@body('Get_secret_2')?['value']",
            "type": "Basic",
            "username": "@body('Get_secret')?['value']"
          },
          "headers": {
            "Accept": "application/octet-stream"
          },
          "method": "GET",
          "uri": "https://outlook.office365.us/ecp/reportingwebservice/reporting.svc/MessageTrace?$format=json"
        },
        "runAfter": {
          "Get_secret_2": [
            "Succeeded"
          ]
        },
        "type": "Http"
      }
    },
    "contentVersion": "1.0.0.0",
    "outputs": {},
    "triggers": {
      "Recurrence": {
        "recurrence": {
          "frequency": "Minute",
          "interval": 15
        },
        "type": "Recurrence"
      }
    }
  },
  "kind": "Stateful"
}
